<h2>Cart</h2>

<div *ngIf="cart.length; else empty">
  <div *ngFor="let item of cart">
    <app-cart-item *ngIf="item.count"
      [item]="item"
      (removeItem)="onRemoveItem($event)"
      (plus)="onPlus($event)"
      (minus)="onMinus($event)">
    </app-cart-item>
  </div>
  <div [textContent]="getSum()"></div>
  <div [textContent]="getCount()"></div>
  <button class="btn btn-danger" (click)="onClearCart()">Clear cart</button>
  <br><br>
  Enter your address: 
  <input #address
      (keyup.enter)="addAddress(address.value)"
      (blur)="addAddress(address.value)">
  <p>{{yourAddress}}</p>

</div>


<ng-template #empty>
  <div>Cart is empty...</div>
</ng-template>
