<div class="panel panel-default">
    <div class="panel-heading" [ngClass]="setClasses()">{{ product.name }}
        <div class="panel-body">
            <ul>
                <li>Description: {{ product.description }}</li>
                <li>Category: {{ product.category }}</li>
                <li>Price: {{ product.price }}</li>
            </ul>
        </div>
        <button *ngIf="product.isAvailable; else isNotAvailable" class="buy btn btn-primary" (click)="onBuyProduct($event)">Add</button>
        <ng-template #isNotAvailable><button disabled class="btn btn-primary">Add</button></ng-template>
    </div>
</div>
